body {
    max-width: 1000px;
    background-image: url("../images/background-1.jpeg");
}

ul {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    padding: 10px;
}

.row {
    display: flex;
}

.column {
    padding: 10px;
}

#banner {
    height: 300px;
    width: 680px;
}

#logo {
    height: 300px;
    width: 300px;
}

#menu{
    width:30%;
    float: left;
}

.menuItem {
    text-align: center;
    background-color: chocolate;
    max-width: 400px;
    margin-bottom: 5px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

.menuItem:hover {
    background-color: blue;
    font-family: YuGothic;
}

.product {
    background-color: chocolate;
    height: 32%;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 5px;
}

.product:hover {
    background-color: blue;
}

#productList {
    width:80%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    text-align:center;
    float: right;
    line-height: 28px;
    font-size: large;
}

.items {
    width: 95%;
    height: 80%;
    padding: 2px;
}

#content {
    display: flex;
    height: 870px;
}

#footer {
    background-color: chocolate;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}

.image {
    position:relative;
}

.overlay {
    display: none;
    color: darkred;
}

.image:hover .overlay {
    width: 210px;
    background: yellow;
    position: absolute;
    top: 0%;
    left: 2%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: larger;
}