body {
    max-width: 1000px;
    background-image: url("../images/background-1.jpeg");
}

ul {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    padding: 10px;
}

.row {
    display: flex;
}

.column {
    padding: 10px;
}

#banner {
    height: 300px;
    width: 680px;
}

#logo {
    height: 300px;
    width: 300px;
}

#menu{
    width:30%;
    float: left;
}

.menuItem {
    text-align: center;
    background-color: chocolate;
    max-width: 400px;
    margin-bottom: 5px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

.menuItem:hover {
    background-color: darkred;
    font-family: YuGothic;
    color: yellow;
}

.product:hover {
    background-color: yellow;
    color: black;
}

#productList {
    width:80%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    float: right;
    line-height: 28px;
    font-size: large;
}

#content {
    display: flex;
    height: 870px;
}

#footer {
    background-color: chocolate;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}

/* parent (container) of img, buttons and price */
.product {
    background-color: chocolate;
    height: 23%;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 5px;
    position: relative;
    text-align: center;
}

.product:hover {
    font-size: larger;
}

/* images */
.items {
    width: 95%;
    height: 80%;
}

.price {
    height:28px !important; /*May need to change later*/
    display: none;
}

.product:hover .price {
    width: 95%;
    height: 12%;
    background: darkred;
    position: absolute;
    top: 2%;
    left: 2%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
}

.btn-add {
    display: none;
}

.btn-remove {
    display: none;
}

.product:hover .btn-add {
    width: 95%;
    position: absolute;
    top: 56%;
    left: 2%;
    background-color: darkblue;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-family: YuGothic;
}

.product:hover .btn-remove{
    width: 95%;
    position: absolute;
    top: 70%;
    left: 2%;
    background-color: darkblue;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    color: white;
}

.product .btn-add:hover {
    background-color: black;
    color: yellow;
    font-size: 18px;
}

.product .btn-remove:hover {
    background-color: black;
    color: yellow;
    font-size: 18px;
}

#btn-show-cart{
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    border: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: larger;
    background-color: #555;
    color: white;
}

#btn-show-cart:hover {
    font-size: x-large;
    background-color: blue;
    background-color: black;
}
